.DS_Store
bootscore-child/.DS_Store
bootscore-child/node_modules/
bootscore-child/package-lock.json
bootscore-child/.prettierrc
bootscore-child/assets/css/main.css
bootscore-child/assets/css/main.css.map
bootscore-child/assets/css/editor.css
bootscore-child/assets/css/editor.css.map

bootscore-child/aw-blocks/*
bootscore-child/aw-custom/*
excluded-og-child-files/