.DS_Store
node_modules/
package-lock.json
.prettierrc
assets/css/main.css
assets/css/main.css.map
assets/css/editor.css
assets/css/editor.css.map

bootscore-child/aw-blocks/*
bootscore-child/aw-custom/*
bootscore-child/excluded-og-child-files/